/* sideMenu */
#menu #sideMenu {
    background: rgba(255, 255, 255, 0);
}

#menu #sideMenu:hover,
#menu #sideMenu.toggleON {
    background: rgba(255, 255, 255, 0.2);
}

#menu #sideMenu #headerLogo {
    visibility: visible;
    opacity: 1;
    /* transition: opacity 0.5s 0.2s linear; */
}

body.fp-viewing-0 #menu #sideMenu ul {
    opacity: 0.15;
    left: 30px;
    transition: all 0.3s ease-in-out;
}

#menu #sideMenu ul {
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

body.fp-viewing-0 #menu #sideMenu:hover ul,
body.fp-viewing-0 #menu #sideMenu.toggleON ul {
    opacity: 1;
    left: 150px;
}

/* #menu #sideMenu ul {
    opacity: 1;
} */
#menu #sideMenu ul li a p {
    color: #000;
}

#menu #sideMenu ul li a span span {
    /* border-radius: 50%; */
    /* position: absolute; */
    z-index: 1;
    background: #000;
    /* transition: all 0.2s ease-in-out; */
}

#menu #sideMenu #ig i,
#menu #sideMenu #ig p,
#menu #sideMenu ul li a p {
    color: #000;
}


/* projectMenu */
/* #menu #projectMenu {
    background: rgba(76, 216, 189, 0);
}
#menu #projectMenu:hover {
    background: rgba(76, 216, 189, 0.05);
} */
#menu #projectMenu ul {
    opacity: 0.7;
}

#menu #projectMenu ul li a {
    opacity: 1;
}

#menu #projectMenu ul li a p {
    color: #000;
}

body.fp-viewing-1 #menu #projectMenu ul li:nth-child(1) a p,
body.fp-viewing-2 #menu #projectMenu ul li:nth-child(2) a p,
body.fp-viewing-3 #menu #projectMenu ul li:nth-child(3) a p,
body.fp-viewing-4 #menu #projectMenu ul li:nth-child(4) a p,
body.fp-viewing-5 #menu #projectMenu ul li:nth-child(5) a p,
body.fp-viewing-6 #menu #projectMenu ul li:nth-child(6) a p,
body.fp-viewing-7 #menu #projectMenu ul li:nth-child(6) a p,
body.fp-viewing-8 #menu #projectMenu ul li:nth-child(6) a p,
body.fp-viewing-9 #menu #projectMenu ul li:nth-child(6) a p,
body.fp-viewing-10 #menu #projectMenu ul li:nth-child(6) a p,
body.fp-viewing-11 #menu #projectMenu ul li:nth-child(7) a p,
body.fp-viewing-12 #menu #projectMenu ul li:nth-child(8) a p,
body.fp-viewing-13 #menu #projectMenu ul li:nth-child(9) a p,
#menu #projectMenu ul li a:hover p {
    color: #4cd8bd !important;
}

#menu #projectMenu ul li a span span {
    background: #4cd8bd;
    border-color: #4cd8bd;
}

body.fp-viewing-1 #menu #projectMenu ul li:nth-child(1) a span span,
body.fp-viewing-2 #menu #projectMenu ul li:nth-child(2) a span span,
body.fp-viewing-3 #menu #projectMenu ul li:nth-child(3) a span span,
body.fp-viewing-4 #menu #projectMenu ul li:nth-child(4) a span span,
body.fp-viewing-5 #menu #projectMenu ul li:nth-child(5) a span span,
body.fp-viewing-6 #menu #projectMenu ul li:nth-child(6) a span span,
body.fp-viewing-7 #menu #projectMenu ul li:nth-child(6) a span span,
body.fp-viewing-8 #menu #projectMenu ul li:nth-child(6) a span span,
body.fp-viewing-9 #menu #projectMenu ul li:nth-child(6) a span span,
body.fp-viewing-10 #menu #projectMenu ul li:nth-child(6) a span span,
body.fp-viewing-11 #menu #projectMenu ul li:nth-child(7) a span span,
body.fp-viewing-12 #menu #projectMenu ul li:nth-child(8) a span span,
body.fp-viewing-13 #menu #projectMenu ul li:nth-child(9) a span span {
    width: 10px;
    height: 10px;
    background: rgba(76, 216, 189, 0);
    border-width: 2px;
}


#langSwitch .checkLayer {
    background-color: rgba(76, 216, 189, 0) !important;
}

#langSwitch:hover .checkLayer {
    background-color: rgba(76, 216, 189, 1) !important;
}


body.fp-viewing-15 #menu #projectMenu,
body.fp-viewing-16 #menu #projectMenu,
body.fp-viewing-17 #menu #projectMenu,
body.fp-viewing-15 #langSwitch,
body.fp-viewing-16 #langSwitch,
body.fp-viewing-17 #langSwitch {
    opacity: 0;
    transform: translateX(-80px);
    transition: all 0.3s ease-in-out;
}