#zContainer {
    opacity: 0;
    text-align: center;
}

#zContainer.loading {
    opacity: 1;
    transition: 1s;
    transition-delay: 1s;
}

#zContainer.loaded {
    opacity: 1;
}

.ip-header {
    position: fixed;
    top: 0;
    z-index: 100;
    min-height: 480px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1)
}

.ip-logo,
.ip-loader {
    display: table;
    position: absolute;
    width: 100vw;
    /* cursor: default; */
    pointer-events: none;
}

.ip-logo {
    top: 0;
    height: 100vh;
    opacity: 0.18;
}

.ip-loader {
    bottom: 10vh;
    opacity: 1;
    transform: scale(1);
}

.ip-header .ip-inner {
    display: block;
    margin: 0 auto;
}

.ip-header .ip-logo img {
    width: 15vw;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    height: calc(100vh - 5px);
}

.ip-header .ip-loader svg path {
    fill: none;
    stroke-width: 2;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
    stroke: #222;
}

.ip-header .ip-loader svg path.ip-loader-circle {
    transition: stroke-dashoffset 0.2s;
    stroke: #c3af80;
}


/* Animations */

/* Initial animation of header elements */
.loading .ip-logo {
    opacity: 0.18;
    animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation-delay: 1s;
}

.loading .ip-loader {
    animation-delay: 0.2s;
    opacity: 1;
    transform: scale(1);
    transition: .5s;
    transition-delay: 1s;
}

@keyframes animInitialHeader {
    from {
        opacity: 0;
        filter: blur(50px);
    }
}

/* Header elements when loading finishes */
.loaded .ip-logo {
    animation: animLoadedLogo 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes animLoadedLogo {
    0% {
        transform: scale(1);
        opacity: 0.18;
        filter: blur(0);
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
        filter: blur(20px);
    }
}

.fp-viewing-Zeta-id .loaded .ip-logo {
    transform: scale(1) !important;
    opacity: 0.18 !important;
    filter: blur(0) !important;
}

.loaded .ip-loader {
    animation: animLoadedLoader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes animLoadedLoader {
    to {
        opacity: 0;
        transform: translateY(8vh) scale(0.25);
        filter: blur(50px);
    }
}

/* Header animation when loading finishes */
.loaded .ip-header {
    animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation-delay: .3s;
}

@keyframes animLoadedHeader {
    0% {
        opacity: 1;
    }

    99% {
        transform: translateY(0vh);
    }

    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}

/* Content animations */
.loaded .zMain {
    opacity: 1;
    animation: animMain 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}

@keyframes animMain {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Change layout class for header */
.layout-switch .ip-header {
    position: absolute;
    display: none;
}

/* No JS */
.no-js .ip-header {
    position: relative;
    min-height: 0;
}

.no-js .ip-header .ip-logo {
    margin-top: 20px;
    height: 180px;
    opacity: 1;
    transform: none;
}

.no-js .ip-header .ip-logo img path {
    fill: #fff;
}