.ip-header .ip-loader svg path.ip-loader-circle {
    stroke: #5ae0ff;
}

body {
    background: #000;
}

.fp-bg {
    color: #fff;
}

.bg-black {
    background: #000 !important;
}

.fp-last {
    height: 100vh;
}

.fp-scroller {
    height: 100vh;
}

#overallContent {
    opacity: 0;
}

body .zContainer.loaded #overallContent {
    opacity: 1;
}

#zProject {
    z-index: 1;
}

#projectVideos {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}


/***/

/* button-plus */
.button-plus {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-table;
    position: relative;
    text-align: center;
    color: #e6e6e6;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
    animation: pulsate-fwd 6s ease-in-out infinite both;
    animation-play-state: paused;
}

@keyframes pulsate-fwd {
    0% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(90, 224, 255, 1);
    }

    20% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(90, 224, 255, 1);
    }

    60% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 10px 0 rgba(90, 224, 255, 1);
    }

    100% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(90, 224, 255, 1);
    }
}

.button-plus:hover {
    color: #fff !important;
    box-shadow: 0 0 30px 0 rgba(230, 230, 230, 0.5);
    transition: all 0.2s ease-out;
    transform: scale(0.8);
    /* cursor: pointer; */
    animation-play-state: paused !important;
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}

.button-plus:hover::before {
    animation: shine 0.5s 0s linear;
}

.button-plus:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}

.button-plus:before {
    display: block;
    width: 0;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 15px 3px #fff;
    transform: skewX(-20deg);
}

.button-plus i {
    font-size: 12px;
    padding: 6px 6.75px;
    transition: all 0.2s ease-in;
}

.button-plus:hover i {
    transform: scale(0.1);
}

body#fliebenProject .button-plus {
    color: #5ae0ff;
}

body#fliebenProject .button-plus:hover {
    box-shadow: 0 0 30px 0 rgba(90, 224, 255, 0.5);
    background-color: #5ae0ff;
}

@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

/**/
#projectVideos video {
    top: 50%;
    right: 50%;
    width: 177.78vh;
    height: 56.25vw;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: revert;
    background: #000;
    transform: translate(50%, -50%);
}

#shadow {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, .80) 90%, rgba(0, 0, 0, 1) 100%);
    position: fixed;
    top: 50%;
    right: calc(50% - 1px);
    width: 177.78vh;
    height: 56.25vw;
    transform: translate(50%, -50%);
    z-index: 1111;
    opacity: 0;
    transition: opacity .25s;
    display: none;
}

body.fp-viewing-Intro #shadow {
    display: revert;
    opacity: 1;
    transition-delay: 0s !important;

}

body.fp-viewing-PortableAirConditioner #shadow {
    display: revert;
    opacity: 0;
    transition-delay: 1.5s !important;
}


/* body.fp-viewing-Intro #projectVideos video {
    right: 0%;
    transform: translate(0%, -50%);
    transition: right .75s, transform 1s;
    transition-delay: 0s;
} */

/* body.fp-viewing-PortableAirConditioner #projectVideos video {
    transition: right 0.6s, transform 0.6s;
    transition-delay: 1.5s;
} */

#zProject {
    opacity: 0;
}

body.fp-viewing-CompactDualSystemCool #projectVideos {
    opacity: 1;
    transition-delay: 0s !important;
}

body.fp-viewing-TemperatureControl #zProject,
body.fp-viewing-RemovableBattery #zProject,
body.fp-viewing-Turntable #zProject,
body.fp-viewing-ZetaID #zProject,
body.fp-viewing-NextProject #zProject,
body.fp-viewing-NewProject #zProject {
    opacity: 1;
}

body.fp-viewing-TemperatureControl #projectVideos,
body.fp-viewing-RemovableBattery #projectVideos,
body.fp-viewing-Turntable #projectVideos,
body.fp-viewing-ZetaID #projectVideos,
body.fp-viewing-NextProject #projectVideos,
body.fp-viewing-NewProject #projectVideos {
    opacity: 0;
}

body.fp-viewing-TemperatureControl #fliebenPlay,
body.fp-viewing-TemperatureControl #fliebenLoopCold,
body.fp-viewing-RemovableBattery #fliebenPlay,
body.fp-viewing-RemovableBattery #fliebenLoopCold,
body.fp-viewing-Turntable #fliebenPlay,
body.fp-viewing-Turntable #fliebenLoopCold {
    filter: blur(25px);
    transition: 200ms;
}

body.fp-viewing-Intro #fliebenPlay,
body.fp-viewing-Intro #fliebenLoopCold,
body.fp-viewing-PortableAirConditioner #fliebenPlay,
body.fp-viewing-PortableAirConditioner #fliebenLoopCold,
body.fp-viewing-CompactDualSystem #fliebenPlay,
body.fp-viewing-CompactDualSystem #fliebenLoopCold,
body.fp-viewing-CompactDualSystemHeat #fliebenPlay,
body.fp-viewing-CompactDualSystemHeat #fliebenLoopCold,
body.fp-viewing-CompactDualSystemCool #fliebenPlay,
body.fp-viewing-CompactDualSystemCool #fliebenLoopCold {
    filter: blur(0px);
    transition: 200ms;
}

body.fp-viewing-Intro #projectVideos,
body.fp-viewing-PortableAirConditioner #projectVideos,
body.fp-viewing-CompactDualSystem #projectVideos,
body.fp-viewing-CompactDualSystemHeat #projectVideos,
body.fp-viewing-CompactDualSystemCool #projectVideos {
    transform: translateY(0) !important;
    transition: 700ms;
}

body.fp-viewing-TemperatureControl #projectVideos,
body.fp-viewing-RemovableBattery #projectVideos,
body.fp-viewing-Turntable #projectVideos {
    transform: translateY(-100vh) !important;
    transition: 700ms;
}




#zProject video {
    top: 50%;
    right: 50%;
    width: 177.78vh;
    height: 56.25vw;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: revert;
    background: #000;
    transform: translate(50%, -50%);
    transition: right 0.6s, transform 0.6s;
    transition-delay: 1.5s;
}

#zProject #section5 video {
    left: -47vw;
    top: 62vh;
    min-height: 124vh;
}

#fliebenLoopHot,
#fliebenLoopHotRev,
#fliebenLoopCold,
#fliebenLoopColdRev {
    opacity: 0;
}

#introProject {
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    bottom: 10vh;
    opacity: 1;
    z-index: 1;
    opacity: 0;
    filter: blur(25px);
    transition: all 1.2s ease-in-out;
    transform: scale(0.9);
}

#introProject img {
    width: 25vw;
    filter: grayscale(0) blur(0px);
    transition: .5s;
}

body.fp-viewing-Intro .loaded #introProject {
    opacity: 1;
    filter: blur(0);
    z-index: 1;
    transform: scale(1);
    transition: all 1.2s 0.5s ease-in-out;
}

body.fp-viewing-PortableAirConditioner .loaded #introProject {
    opacity: 0;
    filter: blur(50px);
    transition: all 0.75s ease-in-out;
    transform: scale(0.85);
    bottom: 15vh;
}

#logoMenu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10000;
    opacity: 1;
    filter: blur(0);
    display: flex;
    transition: all 1.2s ease-in-out;
}

#logoMenu img {
    margin: 10px;
    height: 20px;
}

#sectionProject {
    margin: 11px 0 0 15px;
    opacity: .35;
    font-weight: 300;
}

#sectionProject h2 {
    color: #fff;
    font-size: 20px;
}

body.fp-viewing-Intro #logoMenu {
    opacity: 0;
    filter: blur(25px);
    transition: all 0.5s 0.75s ease-in-out;
    z-index: 1;
    transform: scale(1.2);
}

#mouse {
    position: absolute;
    bottom: -60px;
    width: calc(100% - 600px);
    left: 300px;
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s 1.1s ease-in-out;
    z-index: 99999;
}

#mouse .dark {
    display: none;
}

body .loaded #mouse {
    bottom: 30px;
    opacity: 0.1;
    filter: blur(0);
    transition-delay: 0s;
}

body.fp-viewing-Intro .loaded #mouse {
    transition-delay: 1.5s;
    opacity: 0.25;
}







body.fp-viewing-NextProject #section8 .logoEndCanvas,
body.fp-viewing-NewProject #section8 .logoEndCanvas {
    height: calc(100vh - 350px) !important;
    transition: all 1000ms ease-in-out;
    transition-delay: 10ms;
}

body.fp-viewing-NextProject #section8 #logoEnd,
body.fp-viewing-NewProject #section8 #logoEnd {
    transform: translate(0px, 350px);
    transition: all 1000ms ease-in-out;
    transition-delay: 10ms;
}

body.fp-viewing-ZetaID #section8 .logoEndCanvas {
    height: calc(100vh - 0px) !important;
    transition: all 1000ms ease-in-out;
    transition-delay: 10ms;
}

body.fp-viewing-ZetaID #section8 #logoEnd {
    transform: translate(0px, 0px);
    transition: all 1000ms ease-in-out;
    transition-delay: 10ms;
}

body.fp-viewing-ZetaID #mouse {
    position: absolute;
    bottom: -60px;
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s ease-in-out;
    z-index: 1;
    transition-delay: 0.2s;
}

body.fp-viewing-NewProject #mouse {
    bottom: 30px;
    opacity: 0.25;
    filter: blur(0);
    transition-delay: 0s;
}

body.fp-viewing-NewProject #mouse {
    opacity: 0;
}

body.fp-viewing-Turntable #projectVideos,
body.fp-viewing-Turntable #elementsProject,
body.fp-viewing-ZetaID #projectVideos,
body.fp-viewing-ZetaID #elementsProject,
body.fp-viewing-NextProject #projectVideos,
body.fp-viewing-NextProject #elementsProject {
    display: none;
}

body.fp-viewing-ZetaID #sideMenu,
body.fp-viewing-NextProject #sideMenu,
body.fp-viewing-NewProject #sideMenu,
body.fp-viewing-ZetaID #sideMenu #logoMain,
body.fp-viewing-NextProject #sideMenu #logoMain,
body.fp-viewing-NewProject #sideMenu #logoMain {
    filter: blur(25px) !important;
    right: -120px !important;
    opacity: 0;
    transition: all 500ms ease-in-out !important;
}

body.fp-viewing-PortableAirConditioner #logoMenu {
    transition-delay: 0.2s;
}

body.fp-viewing-Intro #logoMenu,
body.fp-viewing-ZetaID #logoMenu,
body.fp-viewing-NextProject #logoMenu,
body.fp-viewing-NewProject #logoMenu {
    filter: blur(25px);
    left: -120px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

#zProject .next {
    height: 165px;
    width: 165px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

#zProject .next video {
    position: absolute;
    margin-left: -83px;
    top: 52px;
    height: 165px;
    width: 165px;
    right: unset;
    opacity: 0;
    transform: scale(0.8);
    box-shadow: 0px 0px 0px #ffab8d;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    transition-delay: 0s;
}

#zProject .next img {
    position: absolute;
    margin-left: -60px;
    width: 120px;
    top: 250px;
    opacity: 0;
    transform: scale(0.8);
    transition: all 1s ease-in-out;
    transition-delay: 0s;
}

body.fp-viewing-NextProject #zProject .next video,
body.fp-viewing-NewProject #zProject .next video {
    top: 2px;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0px 2px 4px #ffab8d;
    transition: all 1.5s ease-in-out;
    transition-delay: 0.2s;
}

body.fp-viewing-NextProject #zProject .next img,
body.fp-viewing-NewProject #zProject .next img {
    top: 200px;
    opacity: 1;
    transform: scale(1);
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}

#logoEnd {
    width: 100vw;
    transition: 1700ms;
}

#logoEnd h3 {
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 30px;
    opacity: 0;
    filter: blur(25px);
    transition: all 0.4s ease-in-out;
}

body.fp-viewing-ZetaID #zProject #logoEnd h3,
body.fp-viewing-NextProject #zProject #logoEnd h3,
body.fp-viewing-NewProject #zProject #logoEnd h3 {
    opacity: 1;
    filter: blur(0px);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

#logoEnd img {
    color: white;
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 30px;
    opacity: 0;
    filter: blur(25px);
    transition: all 0.4s ease-in-out;
}

body.fp-viewing-ZetaID #zProject #logoEnd img,
body.fp-viewing-NextProject #zProject #logoEnd img,
body.fp-viewing-NewProject #zProject #logoEnd img,
body.fp-viewing-NextProject #section8 .fp-tableCell {
    opacity: 1;
    filter: blur(0px);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.35s;
}

body.fp-viewing-NextProject #zProject #mouse {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0;
}

body.fp-viewing-NewProject #logoEnd,
body.fp-viewing-NewProject #zProject .next,
body.fp-viewing-NewProject #mouse {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out !important;
}



body.fp-viewing-PortableAirConditioner #sectionProject h2:nth-child(1),
body.fp-viewing-CompactDualSystem #sectionProject h2:nth-child(2),
body.fp-viewing-CompactDualSystemHeat #sectionProject h2:nth-child(2),
body.fp-viewing-CompactDualSystemCool #sectionProject h2:nth-child(2),
body.fp-viewing-TemperatureControl #sectionProject h2:nth-child(3),
body.fp-viewing-RemovableBattery #sectionProject h2:nth-child(4),
body.fp-viewing-Turntable #sectionProject h2:nth-child(5) {
    transform: translateX(0%);
    clip-path: inset(0 0 0 0%);
    opacity: 1;
}



/*** elementsProject **/
#elementsProject {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.elementsCanvas {
    position: absolute;
    z-index: 222;
    top: 50%;
    right: 50%;
    width: 177.78vh;
    height: 56.25vw;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: revert;
    transform: translate(50%, -50%);
}

/* tooltip */

.elementsCanvas .tooltip {
    position: absolute;
    height: auto;
    width: auto;
    padding: 0;
    transition: all 1.2s 0.7s ease-in-out;
    opacity: 0;
    filter: blur(25px);
    transition-delay: 1s;
    transition: all .5s ease-in-out;
}

.elementsCanvas .tooltip::before {
    content: "";
    position: absolute;
    display: inline-block;
    margin: 10px 2px;
    padding: 8px 14px;
    border-radius: 5px;
    width: max-content;
    max-width: 200px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    pointer-events: none;
    bottom: 80%;
    left: -12px;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
}

.elementsCanvas .tooltip:hover::before {
    opacity: 1;
    bottom: 100%;
}



body.fp-viewing-Intro .elementsCanvas .tooltip,
body.fp-viewing-PortableAirConditioner .elementsCanvas .tooltip,
body.fp-viewing-TemperatureControl .elementsCanvas .tooltip,
body.fp-viewing-RemovableBattery .elementsCanvas .tooltip {
    opacity: 0;
    filter: blur(25px);
    transition-delay: 0s !important;
    transition: all .1s ease-in-out;
}

body.fp-viewing-CompactDualSystem .elementsCanvas .tooltip,
body.fp-viewing-CompactDualSystemHeat .elementsCanvas .tooltip,
body.fp-viewing-CompactDualSystemCool .elementsCanvas .tooltip {
    opacity: 1;
    filter: blur(0);
    transition-delay: 3s;
    transition: all .5s ease-in-out;
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(2) {
    left: 36.5%;
    bottom: 73%;
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(3) {
    transition-delay: 2s;
    left: 53%;
    bottom: 23.5%;
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(4) {
    transition-delay: 3s;
    left: 31%;
    bottom: 52%;
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(5) {
    transition-delay: 4s;
    left: 63%;
    bottom: 71%;
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(6) {
    transition-delay: 5s;
    left: 34.5%;
    bottom: 17%;
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(7) {
    transition-delay: 6s;
    left: 34.5%;
    bottom: 70.5%;
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(8) {
    transition-delay: 7s;
    left: 75%;
    bottom: 78%;
}


.elementsCanvas #elementsSection2 .tooltip:nth-child(2)::before {
    content: "Condensador";
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(3)::before {
    content: "Compresor";
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(4)::before {
    content: "El aire a temperatura ambiente ingresa por la toma frontal exterior";
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(5)::before {
    content: "Cooler";
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(6)::before {
    content: "Conectores batería";
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(7)::before {
    content: "Filtro de aire";
}

.elementsCanvas #elementsSection2 .tooltip:nth-child(8)::before {
    content: "El aire a temperatura ambiente ingresa por la toma frontal exterior";
}



body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 .tooltip:nth-child(2),
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 .tooltip:nth-child(2),
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 .tooltip:nth-child(2) {
    transition-delay: 0.2s;
}

body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 .tooltip:nth-child(3),
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 .tooltip:nth-child(3),
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 .tooltip:nth-child(3) {
    transition-delay: 0.4s;
}

body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 .tooltip:nth-child(4),
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 .tooltip:nth-child(4),
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 .tooltip:nth-child(4) {
    transition-delay: 0.6s;
}

body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 .tooltip:nth-child(5),
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 .tooltip:nth-child(5),
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 .tooltip:nth-child(5) {
    transition-delay: 0.8s;
}

body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 .tooltip:nth-child(6),
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 .tooltip:nth-child(6),
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 .tooltip:nth-child(6) {
    transition-delay: 1s;
}

body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 .tooltip:nth-child(7),
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 .tooltip:nth-child(7),
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 .tooltip:nth-child(7) {
    transition-delay: 1.2s;
}

body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 .tooltip:nth-child(8),
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 .tooltip:nth-child(8),
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 .tooltip:nth-child(8) {
    transition-delay: 1.4s;
}







/*XXXX*/

.elementsCanvas p {
    color: #757575;
    text-align: left;
    margin: 0;
    font-size: 16px;
}

.elementsCanvas [id*="elementsSection"] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.elementsCanvas [class*="element"] {
    position: absolute;
    z-index: 100;
    opacity: 0;
    filter: blur(25px);
    transition: all 1s ease-in-out;
}


body.fp-viewing-PortableAirConditioner .elementsCanvas #elementsSection1,
body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2,
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2,
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2,
body.fp-viewing-TemperatureControl .elementsCanvas #elementsSection5,
body.fp-viewing-RemovableBattery .elementsCanvas #elementsSection6 {
    visibility: visible;
}

body.fp-viewing-PortableAirConditioner .elementsCanvas #elementsSection1 [class*="element"],
body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 [class*="element"],
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 [class*="element"],
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 [class*="element"],
body.fp-viewing-TemperatureControl .elementsCanvas #elementsSection5 [class*="element"],
body.fp-viewing-RemovableBattery .elementsCanvas #elementsSection6 [class*="element"] {
    opacity: 1;
    filter: blur(0);
    transition: all 1.2s .7s ease-in-out;
}

body.fp-viewing-CompactDualSystem .elementsCanvas #elementsSection2 [class*="element"] .button-plus,
body.fp-viewing-CompactDualSystemHeat .elementsCanvas #elementsSection2 [class*="element"] .button-plus,
body.fp-viewing-CompactDualSystemCool .elementsCanvas #elementsSection2 [class*="element"] .button-plus {
    animation-play-state: running;
}

.elementsCanvas .element0 {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 25px 35px;
    border-radius: 5px;
    color: #fff;
    text-align: left;
}

.elementsCanvas .element0 h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.elementsCanvas #elementssection5 .element0,
.elementsCanvas #elementssection6 .element0 {
    right: unset;
    width: fit-content;
    bottom: 15vh;
    transform: translateX(30vw);
}