.ip-header .ip-loader svg path.ip-loader-circle {
    stroke: #fc3000;
}

body {
    background: #000;
}

.fp-bg {
    color: #fff;
}

.bg-black {
    background: #000 !important;
}

.fp-last {
    height: 100vh;
}

.fp-scroller {
    height: 100vh;
}

#overallContent {
    opacity: 0;
}

body .zContainer.loaded #overallContent {
    opacity: 1;
}

#zProject {
    z-index: 1;
}


/* button-plus */
.button-plus {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-table;
    position: relative;
    text-align: center;
    color: #e6e6e6;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
    animation: pulsate-fwd 6s ease-in-out infinite both;
    animation-play-state: paused;
}

@keyframes pulsate-fwd {
    0% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(250, 46, 0, 1);
    }

    20% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(250, 46, 0, 1);
    }

    60% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 10px 0 rgba(250, 46, 0, 1);
    }

    100% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(250, 46, 0, 1);
    }
}

.button-plus:hover {
    color: #000 !important;
    box-shadow: 0 0 30px 0 rgba(230, 230, 230, 0.5);
    transition: all 0.2s ease-out;
    transform: scale(0.8);
    /* cursor: pointer; */
    animation-play-state: paused !important;
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}

.button-plus:hover::before {
    animation: shine 0.5s 0s linear;
}

.button-plus:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}

.button-plus:before {
    display: block;
    width: 0;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #000;
    box-shadow: 0 0 15px 3px #000;
    transform: skewX(-20deg);
}

.button-plus i {
    font-size: 12px;
    padding: 6px 6.75px;
    transition: all 0.2s ease-in;
}

.button-plus:hover i {
    transform: scale(0.1);
}

body#ekoProject .button-plus {
    color: #fc3000;
}

body#ekoProject .button-plus:hover {
    box-shadow: 0 0 30px 0 rgba(250, 46, 0, 0.5);
    background-color: #fc3000;
}

@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

#zProject video {
    top: 50%;
    right: 50%;
    width: 177.78vh;
    height: 56.25vw;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: revert;
    background: #000;
    transform: translate(50%, -50%);
    transition: right 0.6s, transform 0.6s;
    transition-delay: 1.5s;
}

#introProject {
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    bottom: 10vh;
    opacity: 1;
    z-index: 10;
    opacity: 0;
    filter: blur(25px);
    transition: all 1.2s ease-in-out;
    transform: scale(0.9);
}

#introProject img {
    width: 16vw;
    filter: grayscale(0) blur(0px);
    transition: .5s;
}

body.fp-viewing-Intro .loaded #introProject {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: all 1.2s 0.5s ease-in-out;
}

body.fp-viewing-AdjustablePower .loaded #introProject {
    opacity: 0;
    filter: blur(50px);
    transition: all 0.75s ease-in-out;
    transform: scale(0.85);
    bottom: 15vh;
}

/****/

#qlicProject #section2 .fp-bg {
    display: flex;
    justify-content: center;
}

#qlicProject #section2 .fp-bg img {
    max-height: 100vh;
    max-width: 230vh;
    height: 100vh;
}

#qlicProject #section4 .fp-bg iframe {
    width: 100%;
    height: 100%;
    max-width: 230vh;
    max-height: 100vh;
}

#qlicProject #section4 .fp-bg img {
    max-height: 100vh;
    max-width: 230vh;
    height: 100vh;
    position: absolute;
}


body.fp-viewing-AdjustablePower #sectionProject h2:nth-child(1),
body.fp-viewing-Context #sectionProject h2:nth-child(2),
body.fp-viewing-Working #sectionProject h2:nth-child(3),
body.fp-viewing-ExplodedView #sectionProject h2:nth-child(4),
body.fp-viewing-Pedernal #sectionProject h2:nth-child(5),
body.fp-viewing-PedernalAction #sectionProject h2:nth-child(5),
body.fp-viewing-Turntable #sectionProject h2:nth-child(6) {
    transform: translateX(0%);
    clip-path: inset(0 0 0 0%);
    opacity: 1;
}



/*** elementsProject **/
#elementsProject {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.elementsCanvas {
    position: absolute;
    z-index: 222;
    top: 50%;
    right: 50%;
    width: 177.78vh;
    height: 56.25vw;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: revert;
    transform: translate(50%, -50%);
}

.elementsCanvas p {
    color: #757575;
    text-align: left;
    margin: 0;
    font-size: 16px;
}

.elementsCanvas [id*="elementsSection"] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.elementsCanvas [class*="element"] {
    position: absolute;
    z-index: 100;
    opacity: 0;
    filter: blur(25px);
    transition: all 1s ease-in-out;
}

body.fp-viewing-AdjustablePower #elementsProject .elementsCanvas,
body.fp-viewing-Pedernal #elementsProject .elementsCanvas {
    visibility: visible;
}

body.fp-viewing-AdjustablePower .elementsCanvas #elementsSection1 [class*="element"],
body.fp-viewing-Pedernal .elementsCanvas #elementsSection5 [class*="element"] {
    opacity: 1;
    filter: blur(0);
    transition: all 1.2s .7s ease-in-out;
}

body.fp-viewing-ExplodedView #elementsProject .elementsCanvas {
    visibility: hidden;
}

.elementsCanvas div [class*="element"] {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 25px 35px;
    border-radius: 5px;
    color: #fff;
    text-align: left;
}

.elementsCanvas div [class*="element"] h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.elementsCanvas #elementsSection1 [class*="element"] {
    top: unset;
    bottom: 46vh;
    transform: translateX(-21vw);
    right: unset;
}

.elementsCanvas #elementsSection5 [class*="element"] {
    right: unset;
    width: fit-content;
    bottom: 120px;
}