.ip-header .ip-loader svg path.ip-loader-circle {
    stroke: #fc3000;
}

body {
    background: #000;
}

.fp-bg {
    color: #fff;
}

.bg-black {
    background: #000 !important;
}

.fp-last {
    height: 100vh;
}

.fp-scroller {
    height: 100vh;
}

#overallContent {
    opacity: 0;
}

body .zContainer.loaded #overallContent {
    opacity: 1;
}

#zProject {
    z-index: 1;
}


/* button-plus */
.button-plus {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-table;
    position: relative;
    text-align: center;
    color: #e6e6e6;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
    animation: pulsate-fwd 6s ease-in-out infinite both;
    animation-play-state: paused;
}

@keyframes pulsate-fwd {
    0% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(250, 46, 0, 1);
    }

    20% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(250, 46, 0, 1);
    }

    60% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 10px 0 rgba(250, 46, 0, 1);
    }

    100% {
        opacity: 0.5;
        transform: scale(0.75);
        box-shadow: 0 0 5px 0 rgba(250, 46, 0, 1);
    }
}

.button-plus:hover {
    color: #000 !important;
    box-shadow: 0 0 30px 0 rgba(230, 230, 230, 0.5);
    transition: all 0.2s ease-out;
    transform: scale(0.8);
    /* cursor: pointer; */
    animation-play-state: paused !important;
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}

.button-plus:hover::before {
    animation: shine 0.5s 0s linear;
}

.button-plus:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}

.button-plus:before {
    display: block;
    width: 0;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #000;
    box-shadow: 0 0 15px 3px #000;
    transform: skewX(-20deg);
}

.button-plus i {
    font-size: 12px;
    padding: 6px 6.75px;
    transition: all 0.2s ease-in;
}

.button-plus:hover i {
    transform: scale(0.1);
}

body#ekoProject .button-plus {
    color: #fc3000;
}

body#ekoProject .button-plus:hover {
    box-shadow: 0 0 30px 0 rgba(250, 46, 0, 0.5);
    background-color: #fc3000;
}

@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

#zProject video {
    top: 50%;
    right: 50%;
    width: 177.78vh;
    height: 56.25vw;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: revert;
    background: #000;
    transform: translate(50%, -50%);
    transition: right 0.6s, transform 0.6s;
    transition-delay: 1.5s;
}

#introProject {
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    bottom: 10vh;
    opacity: 1;
    z-index: 10;
    opacity: 0;
    filter: blur(25px);
    transition: all 1.2s ease-in-out;
    transform: scale(0.9);
}

#introProject img {
    width: 16vw;
    filter: grayscale(0) blur(0px);
    transition: .5s;
}

body.fp-viewing-Intro .loaded #introProject {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: all 1.2s 0.5s ease-in-out;
}

body.fp-viewing-AdjustablePower .loaded #introProject {
    opacity: 0;
    filter: blur(50px);
    transition: all 0.75s ease-in-out;
    transform: scale(0.85);
    bottom: 15vh;
}

#logoMenu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10000;
    opacity: 1;
    filter: blur(0);
    display: flex;
    transition: all 1.2s ease-in-out;
}

#logoMenu img {
    margin: 10px;
    height: 20px;
}

body.fp-viewing-Intro #logoMenu {
    opacity: 0;
    filter: blur(25px);
    transition: all 0.5s 0.75s ease-in-out;
    z-index: 1;
    transform: scale(1.2);
}

#mouse {
    position: absolute;
    bottom: -60px;
    width: calc(100% - 600px);
    left: 300px;
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s 1.1s ease-in-out;
    z-index: 99999;
}

#mouse .dark {
    display: none;
}

body .loaded #mouse {
    bottom: 30px;
    opacity: 0.1;
    filter: blur(0);
    transition-delay: 0s;
}

/* XXXXX body.fp-viewing-Intro .loaded #mouse {
    transition-delay: 1.5s;
    opacity: 0.25;
} */

body.fp-viewing-NextProject #section8 .logoEndCanvas,
body.fp-viewing-NewProject #section8 .logoEndCanvas {
    height: calc(100vh - 350px) !important;
    transition: all .7s ease-in-out;
}

body.fp-viewing-NextProject #section8 #logoEnd,
body.fp-viewing-NewProject #section8 #logoEnd {
    transform: translate(0px, 350px);
    transition: all .7s ease-in-out;
}

body.fp-viewing-ZetaID #section8 .logoEndCanvas {
    height: calc(100vh - 0px) !important;
    transition: all .7s ease-in-out;
}

body.fp-viewing-ZetaID #section8 #logoEnd {
    transform: translate(0px, 0px);
    transition: all .7s ease-in-out;
}

body.fp-viewing-ZetaID #mouse {
    position: absolute;
    bottom: -60px;
    opacity: 0;
    filter: blur(5px);
    z-index: 1;
    transition-delay: 0.2s;
    transition: all 0.5s ease-in-out;
}

body.fp-viewing-NewProject #mouse {
    bottom: 30px;
    opacity: 0.25;
    filter: blur(0);
    transition-delay: 0s;
}

body.fp-viewing-NewProject #mouse {
    opacity: 0;
}

body.fp-viewing-ZetaID #sideMenu,
body.fp-viewing-NextProject #sideMenu,
body.fp-viewing-NewProject #sideMenu,
body.fp-viewing-ZetaID #sideMenu #logoMain,
body.fp-viewing-NextProject #sideMenu #logoMain,
body.fp-viewing-NewProject #sideMenu #logoMain {
    filter: blur(25px) !important;
    right: -120px !important;
    opacity: 0;
    transition: all 500ms ease-in-out !important;
}

body.fp-viewing-Intro #logoMenu {
    transition-delay: .2s;
}

body.fp-viewing-AdjustablePower #logoMenu,
body.fp-viewing-ZetaID #logoMenu,
body.fp-viewing-NextProject #logoMenu,
body.fp-viewing-NewProject #logoMenu {
    filter: blur(25px);
    left: -120px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

#zProject .next {
    height: 165px;
    width: 165px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

#zProject .next video {
    position: absolute;
    margin-left: -83px;
    top: 52px;
    height: 165px;
    width: 165px;
    right: unset;
    opacity: 0;
    transform: scale(0.8);
    box-shadow: 0px 0px 0px #9a71ff;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    transition-delay: 0s;
}

#zProject .next img {
    position: absolute;
    margin-left: -60px;
    width: 120px;
    top: 250px;
    opacity: 0;
    transform: scale(0.8);
    transition: all 1s ease-in-out;
    transition-delay: 0s;
}

body.fp-viewing-NextProject #zProject .next video,
body.fp-viewing-NewProject #zProject .next video {
    top: 2px;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0px 2px 4px #9a71ff;
    transition: all 1.5s ease-in-out;
    transition-delay: 0.2s;
}

body.fp-viewing-NextProject #zProject .next img,
body.fp-viewing-NewProject #zProject .next img {
    top: 200px;
    opacity: 1;
    transform: scale(1);
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}

#logoEnd {
    width: 100vw;
    transition: 1700ms;
}

#logoEnd h3 {
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 30px;
    opacity: 0;
    filter: blur(25px);
    transition: all 0.4s ease-in-out;
}

body.fp-viewing-ZetaID #zProject #logoEnd h3,
body.fp-viewing-NextProject #zProject #logoEnd h3,
body.fp-viewing-NewProject #zProject #logoEnd h3 {
    opacity: 1;
    filter: blur(0px);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

body.fp-viewing-ZetaID #mouse,
body.fp-viewing-NextProject #mouse,
body.fp-viewing-NewProject #mouse {
    opacity: .2;
}

body.fp-viewing-ZetaID #mouse .light,
body.fp-viewing-NextProject #mouse .light,
body.fp-viewing-NewProject #mouse .light {
    display: unset;
}

body.fp-viewing-ZetaID #mouse .dark,
body.fp-viewing-NextProject #mouse .dark,
body.fp-viewing-NewProject #mouse .dark {
    display: none;
}


#logoEnd img {
    color: white;
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 30px;
    opacity: 0;
    filter: blur(25px);
    transition: all 0.4s ease-in-out;
}

body.fp-viewing-ZetaID #zProject #logoEnd img,
body.fp-viewing-NextProject #zProject #logoEnd img,
body.fp-viewing-NewProject #zProject #logoEnd img,
body.fp-viewing-NextProject #section8 .fp-tableCell {
    opacity: 1;
    filter: blur(0px);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.35s;
}

body.fp-viewing-NextProject #zProject #mouse {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0;
}

body.fp-viewing-NewProject #logoEnd,
body.fp-viewing-NewProject #zProject .next,
body.fp-viewing-NewProject #mouse {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out !important;
}



/****/

#qlicProject #section2 .fp-bg {
    display: flex;
    justify-content: center;
}

#qlicProject #section2 .fp-bg img {
    max-height: 100vh;
    max-width: 230vh;
    height: 100vh;
}

#qlicProject #section4 .fp-bg iframe {
    width: 100%;
    height: 100%;
    max-width: 230vh;
    max-height: 100vh;
}

#qlicProject #section4 .fp-bg img {
    max-height: 100vh;
    max-width: 230vh;
    height: 100vh;
    position: absolute;
}


body.fp-viewing-AdjustablePower #sectionProject h2:nth-child(1),
body.fp-viewing-Context #sectionProject h2:nth-child(2),
body.fp-viewing-Working #sectionProject h2:nth-child(3),
body.fp-viewing-ExplodedView #sectionProject h2:nth-child(4),
body.fp-viewing-Pedernal #sectionProject h2:nth-child(5),
body.fp-viewing-PedernalAction #sectionProject h2:nth-child(5),
body.fp-viewing-Turntable #sectionProject h2:nth-child(6) {
    transform: translateX(0%);
    clip-path: inset(0 0 0 0%);
    opacity: 1;
}



/*** elementsProject **/
#elementsProject {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.elementsCanvas {
    position: absolute;
    z-index: 222;
    top: 50%;
    right: 50%;
    width: 177.78vh;
    height: 56.25vw;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: revert;
    transform: translate(50%, -50%);
}

.elementsCanvas p {
    color: #757575;
    text-align: left;
    margin: 0 0 7px 0;
    font-size: 16px;
}


.elementsCanvas #elementsSection1,
.elementsCanvas #elementsSection5 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.elementsCanvas [class*="element"] {
    position: absolute;
    z-index: 100;
    opacity: 0;
    filter: blur(25px);
    transition: all 1s ease-in-out;
}

body.fp-viewing-AdjustablePower #elementsProject .elementsCanvas,
body.fp-viewing-Pedernal #elementsProject .elementsCanvas,
body.fp-viewing-PedernalAction #elementsProject .elementsCanvas {
    animation: in 2s;
}

@keyframes in {
    from {
        opacity: 0;
        display: revert;

    }

    to {
        opacity: 1;
    }
}

body.fp-viewing-AdjustablePower .elementsCanvas #elementsSection1 [class*="element"],
body.fp-viewing-Pedernal .elementsCanvas #elementsSection5 [class*="element"],
body.fp-viewing-PedernalAction .elementsCanvas #elementsSection5 [class*="element"] {
    opacity: 1;
    filter: blur(0);
    transition: all 1.2s .7s ease-in-out;
}

.elementsCanvas p {
    color: #757575;
    text-align: left;
    margin: 0 0 0 0;
    font-size: 16px;
}

.elementsCanvas div [class*="element"] {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 25px 35px;
    border-radius: 5px;
    color: #fff;
    text-align: left;
}

.elementsCanvas .element0 h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.elementsCanvas #elementsSection1,
.elementsCanvas #elementsSection5 {
    display: flex;
    justify-content: center;
}

.elementsCanvas p {
    margin-bottom: 0;
}

.elementsCanvas #elementsSection1 [class*="element"] {
    top: unset;
    bottom: 46vh;
    transform: translateX(-21vw);
    right: unset;
}

.elementsCanvas #elementsSection5 [class*="element"] {
    right: unset;
    width: fit-content;
    bottom: 120px;
}